<div class="messages">
<%= form_tag messages_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'message[subject]', 'Subject' %><br>
    <%= text_field_tag 'message[subject]', nil, :class=> "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %><br>
    <%= text_area_tag 'message[body]', nil, :class=> "subject_box", required: true, :cols => 30, :rows => 10 %>
  </div>

 <div class="form-group">
   <%= label_tag 'recipients', 'Choose recipient' %>
    <%= select_tag 'recipients', recipients_options, :class => "recipient_box" %>
 </div>

  <%= submit_tag 'Send', class: 'btn btn-primary' %>
<% end %>
</div>