<%= form_for(@journey) do |f| %>
  <% if @journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
      <% @journey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :starting_point %><br>
    <%= f.text_field :starting_point %>
  </div>
  <div class="field">
    <%= f.label :ending_point %><br>
    <%= f.text_field :ending_point %>
  </div>
  <div class="field">
    <%= f.label :starting_time %><br>
    <%= f.datetime_select :starting_time %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
