<div class="journeys">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>




<p>
  <strong>Rating:</strong>
  <% if @user.feedback.count >= 3  %>
  <%= @user.feedback_ratings_average %>
  <% else %>
    <%= "The user does not have enough ratings yet"  %>
  <% end %>
</p>
<p>
  <strong>Car:</strong>
  <%= @user.car.try :brand %>
  <br>
  <% if correct_user?(@user) %>
  <% if @user.car != nil  %>
  <%= link_to "Edit car details", edit_car_path(@user.car), :class => 'btn smaller' %>
  <% else %>
  <%= link_to "Add a car here", new_car_path, :class => 'btn smaller' %>
  <% end %>
  <% end %>
</p>
<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<h2>Feedbacks:</h2>
<% @user.feedback.each do |feedback| %>
Feedback: <%= feedback.comment %> Rating: <%= feedback.rating %> from: <%= feedback.user.name %><br>
<% end  %>

<h2>Finished journeys:</h2>
Leave feedback on a journey:
<% finished_journeys = Journey.where(status: "finished") %>
<% finished_journeys.each do |journey| %>
<%= link_to "#{journey.starting_point} - #{journey.ending_point}", journey%>
<% end %>

<h2>Upcoming journeys:</h2>
<% if current_user.id = @user.id %>
  <% @user.journeys.each do |journey| %>
    <% if journey.starting_time < Time.now %>
      <li><%= link_to "#{journey.starting_point} - #{journey.ending_point}", journey %></li>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', users_path %>
</div>
