
<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %><br>Rating:<%= @user.rating_avg %>
</p>
<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<% if correct_user?(@user) %>
  <% if @user.car != nil  %>
  <%= link_to "Edit your car:", edit_car_path %>
  <% else %>
  <%= link_to "Add a car:", new_car_path  %>
  <% end %>
<% end %>



<%= link_to 'Back', users_path %>
