
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @user.rating_avg %>
</p>
<p>
  <strong>Car:</strong>
  <%= @user.car.try :brand %>
  <br>
  <% if correct_user?(@user) %>
    <% if @user.car != nil  %>
      <%= link_to "Edit car details", edit_car_path, :class => 'btn smaller' %>
    <% else %>
      <%= link_to "Add a car here", new_car_path, :class => 'btn smaller' %>
    <% end %>
  <% end %>
</p>
<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>






<%= link_to 'Back', users_path %>
