<%# if user_signed_in? %>
<div class="home-page">
  <h1>Connecting passengers to drivers with empty seats</h1>
  
  <%# else %>  
</div>
<div class="icon_wrapper">
 <section class="flex">
  <div>
    <h3><%= link_to "Offer a lift", new_journey_path  %></h3>
    <p>Share a lift as a driver. Add your trip or daily commute and start sharing the costs</p>
    <% if user_signed_in? && current_user.car.present? %>
    <%= link_to raw(image_tag("cargreen.png", :alt => "car", :class=> "car_icon")), new_journey_path %>
    <% else %>
    <%=link_to raw(image_tag("cargreen.png", :alt => "car", :class=> "car_icon")), new_car_path(current_user) %>
    <% end %>
  </div>
  <div>

    <h3><%= link_to "Find a lift", journeys_path %></h3>

    <p>Request a lift as a passenger. Save on travel costs and meet like minded people</p>
    <%= link_to raw(image_tag("searchgreen.png", :alt => "search", :class=> "search_icon")), journeys_path %>
  </div>
  </section>
</div>


  <%= image_tag("newestmap.png", :alt => "map", :class=> "map_img") %>

       
       