
<p>
  <strong>User:</strong>
  <%= @passenger.user_id %>
</p>

<p>
  <strong>Journey:</strong>
  <%= @passenger.journey_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @passenger.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @passenger.price %>
</p>

<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Back', passengers_path %>
