<%= form_for([@journey, @payment_transaction]) do |f| %>
  <% if @payment_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_transaction.errors.count, "error") %> prohibited this payment_transaction from being saved:</h2>

      <ul>
      <% @payment_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :journey_cost %><br>
    <%= f.number_field :journey_cost %>
  </div>
  <div class="field">
    <%= f.label :profit %><br>
    <%= f.number_field :profit%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
