<div class="journeys">
<h1>New Transactions</h1>
<%= form_for([@journey, @payment_transaction]) do |f| %>
  <% if @payment_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_transaction.errors.count, "error") %> prohibited this payment_transaction from being saved:</h2>

      <ul>
      <% @payment_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= @payment_transaction.journey_cost %><br>
    <a><%= "Please confirm that the following journey is ready to be monetized: "%> <br>
    <%= "#{@payment_transaction.journey.starting_point} - #{@payment_transaction.journey.ending_point}, #{@payment_transaction.journey.human_readable_time}" %></a>
  </div>

  <div class="actions">
    <%= f.submit "Confirm", :class => "btn" %>
  </div>
<% end %>
</div>
