<p id="notice"><%= notice %></p>
<div class="journeys">
<h1>Transactions</h1>

<table>
  <thead>
    <tr>

      <th>Starting point</th>
      <th>Ending point </th>
      <th>Starting time</th>
      <th>Total journey cost</th>
      <th>Profit</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @payment_transactions.each do |payment_transaction| %>
      <tr>
        <td><%= payment_transaction.journey.starting_point %></td>
        <td><%= payment_transaction.journey.ending_point %></td>
        <td><%= payment_transaction.journey.human_readable_time %></td>
        <td><%= payment_transaction.journey_cost %></td>
        <td><%= payment_transaction.profit %></td>
        <td><%#= link_to 'Show', payment_transaction %></td>
        <td><%#= link_to 'Edit', edit_payment_transaction_path(payment_transaction) %></td>
        <td><%#= link_to 'Destroy', payment_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%#= link_to 'New PaymentTransaction', new_payment_transaction_path %>
