<p id="notice"><%= notice %></p>


<div class="journeys">
  <h1>Save on travel costs and meet like minded people</h1>
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Travel Date/Time</th>
        <th>User</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @journeys.each do |journey| %>
      <% if journey.starting_time >= Time.now %>
      <tr>

        <td><%= journey.starting_point %></td>
        <td><%= journey.ending_point %></td>
        <td><%= journey.human_readable_time %></td>
        <td><%= journey.user.name %></td>
        <td><%= journey.status %></td>

        <div class="show_buttons">
          <td><%= link_to 'Show', journey, :class=> "btn btn-reverse" %></td>
          <td><%= link_to 'Edit', edit_journey_path(journey), :class=> "btn btn-reverse" %></td>
          <% if current_user.role == 'admin'%>
          <td><%= link_to 'Destroy', journey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </div>
      </tr>
      <% end %>
      <% end %>


    </tbody>
  </table>

<%= link_to 'New Journey', new_journey_path, :class=> "btn btn-reverse" %>

</div>

