
<p>
  <strong>Starting point:</strong>
  <%= @journey.starting_point %>
</p>

<p>
  <strong>Ending point:</strong>
  <%= @journey.ending_point %>
</p>

<p>
  <strong>Starting time:</strong>
  <%= @journey.starting_time %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @journey.user.name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @journey.car.brand %>
</p>

<p>
  <strong>Number of seats:</strong>
  <%= @journey.car.seats %>
</p>

<p>
  <strong>Status:</strong>
  <%= @journey.status %>
</p>



<% @journey.passengers.each do |p| %>
  <% status = p.status %>
  <% if status == 'Accepted' %>
    <%= p.user.name %> is accepted!
  <% elsif status == 'Rejected' %>
    <%= p.user.name %> is rejected!
  <% else %>
    <% if @journey.driver.user_id == current_user.id %>
    <%= p.user.name %><%= p.price %><%= p.status %>
    <%= button_to "Accept", journey_passenger_accept_path(@journey, p) %>
    <%= button_to "Reject", journey_passenger_reject_path(@journey, p) %>
    <% else %>
    <%= p.user.name %><%= p.price %><%= p.status %>
    <% end %>
  <% end %>
<% end %>

<% if @journey.full?  %>
The journey is full!
<% else %>
<% if @journey.passengers.any? {|p| p[:user_id] == current_user.id} %>
<strong>You already joined this journey!</strong>
<% else %>
<strong>Join as a passenger:</strong>
<%= link_to "Join", new_journey_passenger_path(@journey)  %>
<% end %>
<% end %>

<% if @journey.driver.id == current_user.id  %>
<%= link_to "Close journey", journey_close_path(@journey), :method => 'post' %>
<% end %>

<% if @journey.status = 'closed' %>
<% @journey.passengers.each { |p| @journey.send_message(p.user, "#{@journey.starting_point} - #{@journey.ending_point}", "Journey is closed")} %>
<% elsif @journey.status = 'finished' %>
<% @journey.passengers.each { |p| @journey.send_message(p.user, "#{@journey.starting_point} - #{@journey.ending_point}", "The journey is finished, please leave a feedback on your fellow Unter-users!")} %>
<% end %>

<% if @journey.passengers.any? {|p| p[:user_id] == current_user.id} %>
<%= link_to "#{@journey.driver.user.name}", new_feedback_index_path("driver", @journey.driver.id) %>
<% end %>


<% if @journey.passengers.any? {|p| p[:user_id] == current_user.id} || @journey.driver.user.id == current_user.id %>
<% @journey.passengers.each do |p| %>
<%= link_to "#{p.user.name}", new_feedback_index_path("passenger", p.id) %>
<% end %>
<% end %>

<%= @journey.sum_passenger_price %>






<%= link_to 'Back', journeys_path %>
