<!DOCTYPE html>
<html>
<head>
  <title>Unter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

</head>
<body>

  <header class="header flex">
    <%= link_to raw(image_tag("white_logo.png", :alt => "logo", :class=> "logo")), '/' %>
    <nav class="nav">
      <ul>
        <% if user_signed_in? %>
        <li><%=link_to 'Home', '/', :class => 'btn' %></li>
        <% if current_user.car.present? %>
        <li><%=link_to 'Offer a Lift', new_journey_path, :class => 'btn' %></li>
        <% else %>
        <li>Please register a car to create journeys!</li>
        <% end %>
        <li><%=link_to 'Find a lift', new_journey_path,  :class => 'btn' %></li>
        <% else %>  
        <li><%=link_to 'Home', '/', :class => 'btn' %></li>
        <li><%=link_to 'Offer a Lift', :class => 'btn' %></li>
        <li><%=link_to 'Find a lift', new_journey_path,  :class => 'btn' %></li>
        <% end %>

      </ul>
    </nav>
    <% if user_signed_in? %>
    <div class="account">
      <strong><%= link_to "Hello, #{current_user.name}", current_user %></strong>.
    </p>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'account-edit' %> |
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'account-logout'  %>

  </div>
  <% end %> 
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> 

<%= yield %>


<footer class="footer">
  <%= image_tag("jellyfish_logo.png", :class=> "jellyfish") %> 
</footer>
</div>
</body>
</html>