<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Unter</title>
  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>
<body>
  

  <div class="fixed-header">
  <header class="header flex">
    <%= link_to raw(image_tag("white_logo.png", :alt => "logo", :class=> "logo")), '/' %>
    
    <nav class="nav">
      <ul>
        <li><%=link_to 'Home', root_path, :class => 'btn' %></li>
        <% if user_signed_in? %>
          <% if current_user.car.present? %>
            <li><%=link_to 'Offer a Lift', new_journey_path, :class => 'btn' %></li>
          <% else %>
            <li><%=link_to 'Offer a Lift', new_car_path(current_user), :class => 'btn' %></li>
          <% end %>
        <li><%=link_to 'Find a lift', journeys_path,  :class => 'btn' %></li>
        <% if current_user.role == 'admin' %>
          <%= link_to "Transactions", journey_payment_transactions_path(1), :class => 'btn' %>
         
        <% end %>
        <% else %>
          <li><%= link_to 'Please Sign In', new_user_session_path, :class => 'btn' %></li>
          <li><%=link_to 'Find a lift', new_journey_path,  :class => 'btn' %></li>
        <% end %>

      </ul>
    </nav>
    
   
    
    <% if user_signed_in? %>
    <%= link_to image_tag("Envelope.png", :alt => "envelope", :class=> "envelope"), conversations_path %>

      <div class="account">
          <strong><%= link_to "Hello, #{current_user.name}", current_user %></strong>.
        </p>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'account-edit' %> |
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'account-logout'  %>
        <% else %>
        <div class="register">
          <%= link_to "Sign up", new_user_registration_path, :class => 'signup btn'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'login btn'  %>

      </div>
     <% end %> 
    </header>
    </div>
    <br>
    <br>

    <br>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 


    <%= yield %>



  </header>

  <script type="text/javascript">
      // Taken from http://www.sutanaryan.com/how-to-create-fixed-menu-when-scrolling-page-with-css-and-jquery/
      jQuery("document").ready(function($){
          var nav_container = $("#fixed_header");
          if(nav_container.offset()) {
            var offset = nav_container.offset().top;
          }

          console.log(offset);

          $(window).scroll(function () {
            if( $(this).scrollTop() > offset) {
                nav_container.addClass("f-nav");
            } else {
                nav_container.removeClass("f-nav");
            }
          });
      });

      $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                      $('html,body').animate({
                          scrollTop: target.offset().top
                      }, 1000);
                      return false;
                  }
              }
          });
      });
  </script>
  <footer class="footer">
    <%= image_tag("jellyfish_logo.png", :class=> "jellyfish") %> 
  </footer>
</body>
</html>