<!DOCTYPE html>
<html>
<head>
  <title>Unter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <div class="wrapper">
      <%= image_tag("white_logo.png", :alt => "logo", :class=> "logo") %>
    </div>
    <section>
      <div class="account"
      <% if user_signed_in? %>
      <p>Logged in as:<br>
        <strong><%= link_to "Hello, #{current_user.name}", current_user %></strong>.
      </p>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'account-edit' %> |
      <%= link_to "Sign_out", destroy_user_session_path, :method => :delete, :class => 'account-logout'  %>
      </div>
      <% else %>
      <div class="register">
        <%= link_to "Sign up", new_user_registration_path, :class => 'signup btn'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'login btn'  %>
        <% end %>
      </div>
    
  </header>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 

  <%= yield %>


  <footer class="footer">
    <%= image_tag("jellyfish_logo.png", :class=> "jellyfish") %> 
  </footer>
</body>
</html>